{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'symcapp/css/bootstrap.min.css' %}">
    <title>Complex Math</title>
</head>
<body>
    <style type="text/css" media="all">
        html, body {
            background: url({% static 'symcapp/bg.jpg' %}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-color: #5e107e;
        }
        #soln {
            width: 370px;
            height: auto;
            overflow: auto;
        }
    </style>
    <div class="p-4 d-flex">
        <div class="m-auto p-4 border border-info bg-light border-2 rounded-3" id="store">
            <div class="text-info h-3 text-center fw-bold p-2">
                COMPLEX MATH COMPUTATIONS <br />
                Week 4 Assignment
            </div>
            <hr />
            <div class="p-1 d-flex">
                <button class="btn btn-primary m-auto" id="guide">Quick Guide</button>
                <div class="m-auto" id="guideview" style="display:none;">
                    <h4 class="text-primary text-center">Quick Guide</h4>
                    <h6>Variables and Constants Supported</h6>
                    <ul>
                        <li>x, y, z</li>
                        <li>e => E's number</li>
                        <li>pi => π</li>
                        <li>i => imaginary</li>
                    </ul>
                    <h6>Functions Supported</h6>
                    <ul>
                        <li>Trigonometric functions</li>
                        <ul>
                            <li>sin</li>
                            <li>asin</li>
                            <li>cos</li>
                            <li>acos</li>
                            <li>tan</li>
                            <li>atan</li>
                        </ul>
                        <li>Log function</li>
                        <ul>
                            <li>log => take 2 args; x, & y <br />
                                log(6) => default base is e <br />
                                log(10, 100) => base is 10</li>
                        </ul>
                        <li>Roots</li>
                        <ul>
                            <li>sqrt</li>
                            <li>cbrt</li>
                        </ul>
                    </ul>
                    <p class="text-success">
                        These functions take arguments <br />
                        e.g sqrt(4)
                    </p>
                    <h6>Function Args in Calculations</h6>
                    <ul>
                        <li>f => function expression</li>
                        <li>a => operational variable in <br />
                            differential and limit calculations
                        </li>
                        <li>c => value being approached <br />
                            for limit calculations
                        </li>
                    </ul>
                    <h6 class="text-danger">
                        Implicit multiplication not supported <br />
                        e.g 3xy. Instead use 3*x*y
                    </h6>
                    <div class="d-flex mt-4">
                        <button class="btn btn-danger m-auto" id="close">Close</button>
                    </div>
                </div>
            </div>
            <hr />
            <div id="calc">
                <div class="d-flex p-2">
                    <button class="btn btn-warning" id="diff">Derivatives</button>
                    <button class="btn btn-info mx-3" id="pdiff">Partial Derivatives</button>
                    <button class="btn btn-info" id="limit">Limits</button>
                </div>
                <div class="px-2">
                    f:
                </div>
                <div class="p-2">
                    <input class="p-2 border rounded-3 border-dark w-100" type="text" id="expr" value="" />
                </div>
                <div class="p-2 varz">
                    <label for="varz">a: <br />
                        <input class="p-2 border rounded-3 border-dark w-25" type="text" id="varz" value="" />
                    </label>
                </div>
                <div class="p-2 d-none varc">
                    <label for="varc">c: <br />
                        <input class="p-2 border rounded-3 border-dark w-25" type="text" id="varc" value="" />
                    </label>
                </div>
                <div class="p-2 mx-2 border border-dark rounded-3" id="soln" style="display:none;">
                    <div id="sol1"></div>
                    <div id="sol2"></div>
                    <div id="sol3"></div>
                    <div id="sol4"></div>
                    <div id="sol5"></div>
                    <div id="sol6"></div>
                    <div id="sol7"></div>
                </div>
                <div class="p-2 mt-2 d-flex">
                    <button class="btn btn-success me-3" id="solve">Solve</button>
                    <button class="btn btn-danger" id="clear">Reset</button>
                </div>
            </div>
            <div class="border bg-secondary bg-opacity-25 fw-bold border-white fst-italic p-2 mt-3 text-center text-info rounded-3">
                &copy; 2022 Caleb@Code. All rights reserved.
            </div>
        </div>
    </div>

    <script src="{% static 'symcapp/js/jquery.js' %}"></script>
    <script src="{% static 'symcapp/js/mathjax.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        $(() => {
            "use strict";
            $("#store").data("ctype", "diff");
            function clear() {
                $("#expr, #varz, #varc").val("");
                $("#soln > div").html("");
                $("#soln").hide();
            }
            $("#clear").click(() => clear());
            $("#guide").click(() => {
                $("#guide, #guideview, #calc").toggle("swing");
            });
            $("#close").click(() => {
                $("#guide, #guideview, #calc").toggle("swing");
                $("html", "body").scrollTop(0);
            });
            $("#diff").click(() => {
                $("#pdiff, #limit").removeClass("btn-warning").addClass("btn-info");
                $("#diff").addClass("btn-warning");
                $(".varz").removeClass("d-none");
                $(".varc").addClass("d-none");
                $("#store").data("ctype", "diff");
                clear();
            });
            $("#pdiff").click(() => {
                $("#diff, #limit").removeClass("btn-warning").addClass("btn-info");
                $("#pdiff").addClass("btn-warning");
                $(".varz, .varc").addClass("d-none");
                $("#store").data("ctype", "pdiff");
                clear();
            });
            $("#limit").click(() => {
                $("#diff, #pdiff").removeClass("btn-warning").addClass("btn-info");
                $("#limit").addClass("btn-warning");
                $(".varz, .varc").removeClass("d-none");
                $("#store").data("ctype", "limit");
                clear();
            });
            $("#solve").click(() => {
                $.ajax({
                    type: "POST",
                    url: "{% url 'math' %}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        ctype: $("#store").data("ctype"),
                        f: $("#expr").val().replace("^", "**") || " ",
                        a: $("#varz").val() || " ",
                        c: $("#varc").val() || " ",
                    },
                    success: function(response) {
                        for (const res of response.result) {
                            MathJax.tex2svgPromise(res[1])
                            .then(node => {
                                $("#soln").show();
                                MathJax.tex2svgPromise(res[0][1])
                                .then(node2 => {
                                    $(res[0][0]).show().html(node).prepend(node2);
                                });
                            })
                            .catch(e => {
                                $("#soln").show();
                                $(res[0][0]).show().html(e);
                            });
                        }
                    },
                    error: function(response) {
                        $("#soln").show().html(JSON.stringify(response));
                    }
                });
            });
        });
    </script>
</body>
</html>